/* Lodziarnia Letnia — uzupełnij style według zadanie.txt (menu, .active, :hover) */
html{
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    color: hsl(330, 50%, 35%);
}
.container{
    display: flex;
    max-width: 900px;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}
header{
    display: flex;
    height: 90px;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid hsl(330, 50%, 35%);
    width: 100%;
    justify-content: space-between;
}
nav ul{
    display: flex;
    gap: 2rem;
}
nav li{
    list-style: none;
}
nav .active{
    padding: 1em;
    background-color: hsl(330, 50%, 35%);
    color: hsl(200, 60%, 95%);
    border-radius: 1em;
}
nav a{
    padding: 1em;
    background-color: hsl(200, 60%, 95%);
    color: hsl(330, 50%, 35%);
    border-radius: 1em;
}
nav a:hover{
    background-color: hsl(330, 50%, 35%);
    color: hsl(200, 60%, 95%);
    padding: 1.5em;
    transition-duration: 400ms;
}
a{
    text-decoration: none;
    /* color: hsl(330, 50%, 35%); */
}
main{
    /* width: 60%; */
    background-color: hsl(200, 60%, 95%);
    box-shadow: 0 0 5px hsl(330, 50%, 35%);
    border-radius: 1em;
    padding: 1em;
    flex: 1;
}
footer{
    width: 100%;
    height: 70px;
    border-top: 1px solid hsl(330, 50%, 35%);
}
aside{
    background-color: hsl(200, 60%, 95%);
    /* width: 35%; */
    box-shadow: 0 0 5px hsl(330, 50%, 35%);
    padding: 1em;
    border-radius: 1em;
}
#oblicz{
    background-color: hsl(330, 50%, 35%);
    color: hsl(200, 60%, 95%);
    border: none;
    border-radius: 1em;
    padding: 0.8em;
}
#wynik{
    color: hsl(45, 90%, 45%);
    text-decoration: bold;
}
footer{
    text-align: center;
}
span{
    color: hsl(45, 90%, 45%);
}

